*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  @media only screen and (min-width: 599px) {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}

main {
  @media only screen and (min-width: 599px) {
    display: flex;
  }
}
